<div id="container">
    <input is="emc-i18n-input" id="input" i18n-placeholder="Search..." autocomplete="off">
    <emc-i18n-tooltip i18n-tooltip="Reset search">
        <div class="button-wrapper">
            <button id="reset">🗙</button>
        </div>
    </emc-i18n-tooltip>
</div>