:host {
    display: flex;
    padding: 3px;
    background: var(--list-color-border, #f1f1f1);
}
:host(:focus) {
    outline: none;
}
:focus {
    box-shadow: none;
    outline: none;
}
#search {
    background: var(--list-color-back, #ffffff);
    border: none;
    border-radius: 0;
}
#search:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
}
#search:focus:not(:focus-visible)  {
    box-shadow: none;
    outline: none;
}
#selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
}
#selection::before {
    font-size: 18px;
    content: "☐";
}
#selection:indeterminate::before {
    content: "⮽";
}
#selection:checked::before {
    content: "☑";
}
:host(:not([multiple])) #selection,
:host([multiple="false"]) #selection {
    opacity: 0.1;
    pointer-events: none;
}
