:host {
    position: fixed !important;
    box-sizing: border-box !important;
    align-items: flex-start !important;
    justify-content: center !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    cursor: default !important;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 900600;
    pointer-events: all !important;
}

:host(.inactive) {
    background-color: transparent !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    z-index: 900599;
}

:host,
.button {
    display: flex;
}

#modal {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    min-width: min(400px, calc(100vw - 50px));
    max-width: min(1000px, calc(100vw - 50px));
    min-height: min(200px, calc(100vh - 50px));
    max-height: min(800px, calc(100vh - 50px));
    margin-top: min(100px, calc(25px + max(0px, calc(55vh - 480px))));
    color: var(--modal-text-color, #000000);
    background-color: var(--modal-back-color, #ffffff);
    background-image: var(--modal-back-image, none);
    border-style: solid;
    border-width: var(--modal-border-width, 2px);
    border-color: var(--modal-border-color, #cccccc);
    border-radius: 4px;
    font-size: 1rem;
    resize: both;
    pointer-events: all;
    box-shadow: #000000c4 11px 11px 20px 0px;
}

:host([streched]:not([streched="false"])) #modal {
    width: 100%;
}

@media (max-height: 1000px) {
    #modal {
        margin-top: 25px;
    }
}

:host(.inactive) #modal {
    pointer-events: none;
    filter: blur(2px);
}

#header {
    display: flex;
    color: var(--modal-header-text-color, #000000);
    background-color: var(--modal-header-back-color, #e4e4e4);
    background-image: var(--modal-header-back-image, none);
    border-bottom: solid var(--modal-border-width, 2px) var(--modal-border-color, #cccccc);
}

#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 50px;
    padding: 5px;
    color: var(--modal-footer-text-color, #000000);
    background-color: var(--modal-footer-back-color, #e4e4e4);
    background-image: var(--modal-footer-back-image, none);
    border-top: solid var(--modal-border-width, 2px) var(--modal-border-color, #cccccc);
}

#footer:empty {
    display: none;
}

#close {
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    align-items: center;
    justify-content: center;
    color: var(--modal-close-text-color, #222222);
    background-color: var(--modal-close-back-color, #ffb9b9);
    background-image: var(--modal-close-back-image, none);
    cursor: pointer;
    user-select: none;
    appearance: none;
    font-size: 1.5em;
    line-height: 1em;
}

#close:hover {
    color: var(--modal-close-hover-text-color, #ffffff);
    background-color: var(--modal-close-hover-back-color, #ff0000);
    background-image: var(--modal-close-hover-back-image, none);
}

#close:focus {
    box-shadow: inset var(--modal-close-focus-color, #000000) 0 0px 3px 4px;
    outline: none;
}

#title {
    display: flex;
    align-items: center;
    flex: 1;
    height: 40px;
    padding: 0 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    line-height: 1em;
}

#title-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    color: var(--modal-icon-default-color, #000000);
    font-family: monospace;
    font-size: 2.8em;
    line-height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}

#title-icon.small {
    font-size: 1.9em;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    scroll-padding-top: 20px;
    scroll-padding-bottom: 20px;
}

#text {
    display: block;
    margin-bottom: 8px;
    line-height: 1.3em;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: none;
}

#text:empty {
    display: none;
}

a {
    color: var(--modal-link-text-color, #004472);
    text-decoration: none;
    border-radius: var(--button-border-radius, 4px);
}

a:hover {
    color: var(--modal-link-hover-text-color, #003597);
}

a:focus {
    box-shadow: 0 0 2px 3px var(--button-focus-color, #06b5ff);
    outline: none;
}

.text-icon {
    margin-right: 0.5em;
}
