<li id="node">
    <div id="content">
        <div id="collapse"></div>
        <!-- add icon? -->
        <emc-i18n-label id="label"></emc-i18n-label>
    </div>
    <ul id="tree">
        <slot></slot>
    </ul>
</li>