* {
    position: relative;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#list div > div {
    margin-left: 16px;
}

a {
    color: #000000;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #ffe6af;
}

.sidebar a {
    display: block;
    padding: 8px;
    margin: 4px;
    color: #000000;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ffc649;
}

.sidebar a.target {
    color: #ffe6af;
    background-color: #000000;
}

#list {
    flex: 1;
    min-width: 200px;
    width: 20%;
    max-width: 1000px;
    overflow: scroll;
    resize: horizontal;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#menu,
#back {
    display: none;
    padding: 8px;
    margin: 4px;
    color: #000000;
    background-color: #ffe6af;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    appearance: none;
}

#menu:hover,
#back:hover {
    background-color: #ffc649;
}

#view {
    flex: 1;
    border: none;
}

@media (max-width: 550px) {

    body.view .sidebar {
        display: none;
    }

    body.menu .content {
        display: none;
    }

    .sidebar {
        width: 100%;
    }
    
    #list {
        flex: 1;
        width: 100% !important;
        overflow: scroll;
        resize: none;
    }

    #menu,
    #back {
        display: block;
    }
}
