:root {

    /* === form === */
    --form-text-color: #000000;
    --form-back-color: #f0f0df;
    --form-hover-text-color: #ffffff;
    --form-hover-back-color: #4c705c;
    --form-invalid-text-color: #a70000;
    --form-invalid-back-color: #ffeeee;
    --form-border-color: #000000; /* all; top_bottom right_left; top right bottom left*/

    /* === fieldset === */
    --fieldset-back-color: #e1f3e9;

}
