<slot id="logic-container">
    <button id="droptarget" class="placeholder" title="Add element">...</button>
</slot>
<emc-form-row class="footer" align="end">
    <emc-button id="optimize" text="Optimize logic"></emc-button>
    <emc-button id="json" text="JSON"></emc-button>
</emc-form-row>
