* {
    position: relative;
    box-sizing: border-box;
}

#field {
    flex-direction: column;
    min-height: 200px;
    max-height: 60dvh;
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    user-select: none;
    overflow: hidden;
}

:host(:disabled) #field {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

:host(:focus) #field,
:host(:focus-within) #field {
    outline: none;
}

:host(:invalid) #field {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

.placeholder {
    display: table;
    margin: 5px;
    padding: 5px 20px;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #cccccc);
    background-image: var(--button-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    font-weight: bold;
    cursor: pointer;
}

.placeholder:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #000000);
    background-image: var(--button-back-image, none);
}

.placeholder:disabled {
    color: var(--input-disabled-text-color, #757575);
    background-color: var(--button-disabled-back-color, #999999);
    background-image: var(--button-disabled-image, none);
    pointer-events: none;
}

.placeholder:focus {
    box-shadow: 0 0 2px 2px var(--button-focus-color, #06b5ff);
    outline: none;
}

#logic-container {
    display: block;
    flex: 1;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
}

:host(:disabled) ::slotted(*) {
    opacity: 0.3;
}

.footer {
    display: flex;
    padding: 5px;
    border-top: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
}

:host(:invalid) .footer {
    border-top-color: var(--input-invalid-border-color, #ff4444);
}

:host(:disabled) .footer {
    border-top-color: var(--input-disabled-border-color, #6a6a6a) !important;
}

#optimize,
#json {
    min-width: 100px;
    margin: 0px 0px 0px 10px;
}

:host([readonly]:not([readonly="false"])) #optimize {
    display: none;
}
