#field {
    flex-grow: 0;
    width: 4em;
}
/* --- */
#input {
    appearance: none;
    flex-grow: 0;
    width: 4em;
    height: 2em;
    padding: 2px;
    margin: 0px;
    margin-right: auto;
    color: var(--input-text-color, #000000);
    background-color: var(--switch-unchecked-back-color, #ffd68a);
    background-image: var(--switch-unchecked-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    font-size: 1em;
    cursor: pointer;
}
#input:checked {
    background-color: var(--switch-checked-back-color, #9ee1ec);
    background-image: var(--switch-checked-back-image, none);
}
#input:indeterminate {
    background-color: var(--switch-indeterminate-back-color, #ffffff);
    background-image: var(--switch-indeterminate-back-image, none);
}
#input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
:host(:invalid) #input {
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}
:host(:invalid) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
#input:disabled {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}
/* --- */
#input::after {
    display: block;
    width: calc(2em - (2 * var(--switch-button-border-width, 2px)));
    height: calc(2em - (4 * var(--switch-button-border-width, 2px)));
    background-color: var(--switch-button-back-color, #000000);
    background-image: var(--switch-button-back-image, none);
    border-style: solid;
    border-width: var(--input-button-border-width, 2px);
    border-color: var(--switch-button-border-color, #222222);
    border-radius: calc(var(--input-border-radius, 6px) / 2);
    box-sizing: border-box;
    content: "";
}
#input:hover::after {
    background-color: var(--switch-button-hover-back-color, #004472);
    background-image: var(--switch-button-hover-back-image, none);
}
#input:checked::after {
    margin-left: auto;
}
#input:indeterminate::after {
    margin-left: auto;
    margin-right: auto;
}
#input:disabled::after {
    background-color: var(--switch-button-disabled-back-color, #696969);
    background-image: var(--switch-button-disabled-back-image, none);
}
