<emc-select-relation id="input"></emc-select-relation>
<emc-button id="cancel" text="cancel" tooltip="cancel" text-transform="uppercase"></emc-button>
<emc-button id="submit" text="submit" tooltip="submit" primary text-transform="uppercase"></emc-button>