:host {
    user-select: none;
}
slot {
    width: 100%;
    height: 100%;
}
::slotted(:not([value])),
::slotted([value][disabled]) {
    display: none;
}
::slotted([value]) {
    display: inline-block;
    min-height: auto;
}
::slotted([value]:not(.active)) {
    opacity: 0.5;
}
#view-choice[readonly]:not([readonly="false"]) emc-option,
#view-choice emc-option:not(.active) {
    cursor: default;
}
#view-choice[multiple]:not([multiple="false"]) emc-option {
    cursor: pointer;
}