<div id="view" mode="view" tabindex="0"></div>
<input id="input" placeholder="Search..." autocomplete="off"></input>
<div class="button">
    <emc-symbol-chevron-down></emc-symbol-chevron-down>
</div>
<div id="scroll-container">
    <slot id="container">
        <div id="empty">no entries</div>
    </slot>
</div>