<input is="emc-input" id="search" i18n-value="search..." autocomplete="off">
<emc-i18n-tooltip i18n-tooltip="Reset search">
    <div id="search-reset" class="button">
        <emc-symbol-clear></emc-symbol-clear>
    </div>
</emc-i18n-tooltip>