:host {
    display: flex;
    flex: 1;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: solid 1px var(--input-border-color, #222222);
    border-radius: 2px;
    user-select: none;
}
:host(:focus) {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
}
:host(:focus:not(:focus-visible)) {
    box-shadow: none;
    outline: none;
}
:focus {
    outline: none;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    font-size: 1.5rem;
    cursor: pointer;
}
#search {
    flex: 1;
    height: 2rem;
    padding: 0 4px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: none;
    font-size: 1rem;
    -webkit-appearance: none;
    outline: none;
}
#search::placeholder {
    font-style: italic;
}
