:host {
    position: relative;
    flex: 1;
    max-width: 100%;
    max-height: 100%;
}
#scroll-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#tree {
    display: inline-block;
    min-width: 100%;
    padding: 2px;
    margin: 0px;
}
#tree:focus {
    outline: none;
}