<div class="header">
    <emc-input-search id="search" nohover></emc-input-search>
</div>
<emc-datagrid id="grid" selectable stretched="name" nohead>
    <emc-datagrid-column name="name" label="" type="i18n" width="200"></emc-datagrid-column>
</emc-datagrid>
<emc-form-row class="footer" align="end">
</emc-form-row>
<slot id="options-container"></slot>
