<slot id="child0" name="slot0">
    <button id="droptarget0" class="placeholder" title="Add element">...</button>
</slot>
<slot id="child1" name="slot1">
    <button id="droptarget1" class="placeholder" title="Add element">...</button>
</slot>