<emc-input-text id="json" spellcheck="false" nohover stretch></emc-input-text>
<emc-button id="cancel" text="cancel" tooltip="cancel" text-transform="uppercase"></emc-button>
<emc-button id="submit" text="submit" tooltip="submit" primary text-transform="uppercase"></emc-button>
