:host {
    box-sizing: border-box;
    z-index: 900900;
    pointer-events: all;
}

#footer,
#submit,
#cancel {
    display: flex;
}

#text {
    display: block;
    margin-bottom: 8px;
    line-height: 1.3em;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: none;
}

#footer {
    align-items: center;
    justify-content: flex-end;
    min-height: 50px;
    color: var(--modal-footer-text-color, #000000);
    background-color: var(--modal-footer-back-color, #e4e4e4);
    background-image: var(--modal-footer-back-image, none);
    border-top: solid var(--modal-border-width, 2px) var(--modal-border-color, #cccccc);
}

#submit,
#cancel {
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 5px;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
    border-style: solid;
    border-width: var(--button-border-width, 2px);
    border-color: var(--button-border-color, #222222);
    border-radius: var(--button-border-radius, 6px);
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    appearance: none;
}

#submit:hover,
#cancel:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #353935);
    border-color: var(--button-hover-border-color, #222222);
}

#window {
    max-width: min(600px, calc(100vw - 50px));
    min-height: min(100px, calc(100vh - 50px));
}

#body {
    padding: 10px;
}
