<div id="focus_catcher_top" tabindex="0"></div>
<emc-ctxmenulayer>
    <div id="window" role="dialog" aria-modal="true" aria-labelledby="title" aria-describedby="title">
        <div id="header">
            <div id="title"></div>
            <button id="close" title="close">
                <emc-symbol-close></emc-symbol-close>
            </button>
        </div>
        <div id="body">
            <slot></slot>
        </div>
    </div>
</emc-ctxmenulayer>
<div id="focus_catcher_bottom" tabindex="0"></div>