#footer {
    display: flex;
}
#window {
    width: auto;
    min-width: 20vw;
}
#content {
    flex-direction: row;
    flex-wrap: wrap;
}
#submit,
#cancel {
    margin: 2px;
}
#search {
    margin: 5px;
}