<emc-input-boolorlogic id="input" required nohover></emc-input-boolorlogic>
<emc-button id="cancel" text="cancel" tooltip="cancel" text-transform="uppercase"></emc-button>
<emc-button id="submit" text="submit" tooltip="submit" primary text-transform="uppercase"></emc-button>
