#input {
    flex-grow: 1;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    font-size: 1em;
}

:host([spinner]:not([spinner="false"])) #input {
    border-radius: var(--input-border-radius, 6px) 0 0 var(--input-border-radius, 6px);
}

#input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #input {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#input::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}

#input:disabled {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

#input::-webkit-inner-spin-button {
    display: none;
}

/* --- */
#upButton {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    padding: 0px;
    margin: 0 0 0 calc(-1 * var(--input-border-width, 2px));
    color: var(--input-button-text-color, #000000);
    background-color: var(--input-button-back-color, #ffffff);
    background-image: var(--input-button-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
}

:host([spinner]:not([spinner="false"])) #upButton {
    display: flex;
}

#upButton:hover {
    color: var(--input-button-hover-text-color, #000000);
    background-color: var(--input-button-hover-back-color, #b3e5ec);
    background-image: var(--input-button-hover-back-image, none);
}

#upButton:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #upButton {
    color: var(--input-button-invalid-text-color, #000000);
    background-color: var(--input-button-invalid-back-color, #ffebeb);
    background-image: var(--input-button-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #upButton:hover {
    color: var(--input-button-invalid-hover-text-color, #000000);
    background-color: var(--input-button-invalid-hover-back-color, #ff9987);
    background-image: var(--input-button-invalid-hover-back-image, none);
}

:host(:invalid) #upButton:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#upButton:disabled {
    color: var(--input-button-disabled-text-color, #757575) !important;
    background-color: var(--input-button-disabled-back-color, #999999) !important;
    background-image: var(--input-button-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

#upButton::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    line-height: 0.9em;
    font-family: monospace;
    transform-origin: center;
    rotate: 90deg;
    content: "˂";
}

#upButton[readonly]:not([readonly="false"]) {
    pointer-events: none;
}

/* --- */
#downButton {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    padding: 0px;
    margin: 0 0 0 calc(-1 * var(--input-border-width, 2px));
    color: var(--input-button-text-color, #000000);
    background-color: var(--input-button-back-color, #ffffff);
    background-image: var(--input-button-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: 0 var(--input-border-radius, 6px) var(--input-border-radius, 6px) 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
}

:host([spinner]:not([spinner="false"])) #downButton {
    display: flex;
}

#downButton:hover {
    color: var(--input-button-hover-text-color, #000000);
    background-color: var(--input-button-hover-back-color, #b3e5ec);
    background-image: var(--input-button-hover-back-image, none);
}

#downButton:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #downButton {
    color: var(--input-button-invalid-text-color, #000000);
    background-color: var(--input-button-invalid-back-color, #ffebeb);
    background-image: var(--input-button-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #downButton:hover {
    color: var(--input-button-invalid-hover-text-color, #000000);
    background-color: var(--input-button-invalid-hover-back-color, #ff9987);
    background-image: var(--input-button-invalid-hover-back-image, none);
}

:host(:invalid) #downButton:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#downButton:disabled {
    color: var(--input-button-disabled-text-color, #757575) !important;
    background-color: var(--input-button-disabled-back-color, #999999) !important;
    background-image: var(--input-button-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

#downButton::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    line-height: 0.9em;
    font-family: monospace;
    transform-origin: center;
    rotate: 90deg;
    content: "˃";
}

#downButton[readonly]:not([readonly="false"]) {
    pointer-events: none;
}
