<div id="container">
    <emc-button id="first" icon="⭰" border-flat="right"></emc-button>
    <emc-button id="decrease" icon="🠔" border-flat="all"></emc-button>
    <input type="number" id="current">
    <emc-i18n-label id="max-text" i18n-value="of"></emc-i18n-label>
    <div id="max"></div>
    <emc-button id="increase" icon="🠖" border-flat="all"></emc-button>
    <emc-button id="last" icon="⭲" border-flat="left"></emc-button>
    <emc-i18n-label id="size-text" i18n-value="Page size"></emc-i18n-label>
    <select id="size">
        <option value="0">inf</option>
    </select>
    <emc-i18n-label id="total-text" i18n-value="Total"></emc-i18n-label>
    <div id="total"></div>
</div>
