#content {
    justify-content: center !important;
    align-items: center !important;
}

p {
    font-size: 1.5em !important;
    font-family: monospace !important;
    text-align: center !important;
}

#input {
    display: none;
    width: 100%;
    font-size: inherit;
}

:host([editable]:not([editable="false"])) #value {
    display: none;
}

:host([editable]:not([editable="false"])) #input {
    display: block;
    appearance: none;
    flex-grow: 0;
    width: 3em;
    height: 2em;
    padding: 2px;
    margin: 0px;
    color: var(--input-text-color, #000000);
    background-color: var(--switch-unchecked-back-color, #ffd68a);
    background-image: var(--switch-unchecked-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    font-size: 1rem;
    cursor: pointer;
}

:host([editable]:not([editable="false"])) #input:checked {
    background-color: var(--switch-checked-back-color, #9ee1ec);
    background-image: var(--switch-checked-back-image, none);
}

:host([editable]:not([editable="false"])) #input:indeterminate {
    background-color: var(--switch-indeterminate-back-color, #ffffff);
    background-image: var(--switch-indeterminate-back-image, none);
}

:host([editable]:not([editable="false"])) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}

:host([editable]:not([editable="false"])) #input::after {
    display: block;
    width: calc(2em - (2 * var(--input-border-width, 2px)));
    height: calc(2em - (4 * var(--input-border-width, 2px)));
    background-color: var(--button-back-color, #cccccc);
    background-image: var(--button-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: calc(var(--input-border-radius, 6px) / 2);
    box-sizing: border-box;
    content: "";
}

:host([editable]:not([editable="false"])) #input:hover::after {
    background-color: var(--button-hover-back-color, #000000);
    background-image: var(--button-hover-back-image, none);
}

:host([editable]:not([editable="false"])) #input:checked::after {
    margin-left: auto;
}

:host([editable]:not([editable="false"])) #input:indeterminate::after {
    margin-left: auto;
    margin-right: auto;
}

/* --- */
#input {
    flex-grow: 1;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    font-size: 1em;
}

#input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #input {
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#input::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}

#input:disabled {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}
