#field {
    display: flex;
    flex-direction: column;
    height: 300px;
    min-width: 200px;
    padding: 0px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
}

:host(:invalid) #field {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:disabled) #field {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none);
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

.header {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: var(--input-border-width, 2px);
    border-bottom-color: var(--input-border-color, #222222);
}

:host(:invalid) .header {
    border-bottom-color: var(--input-invalid-border-color, #ff4444);
}

:host(:disabled) .header {
    border-bottom-color: var(--input-disabled-border-color, #6a6a6a) !important;
}

.footer {
    display: flex;
    padding: 6px;
    border-top-style: solid;
    border-top-width: var(--input-border-width, 2px);
    border-top-color: var(--input-border-color, #222222);
}

:host(:invalid) .footer {
    border-top-color: var(--input-invalid-border-color, #ff4444);
}

:host(:disabled) .footer {
    border-top-color: var(--input-disabled-border-color, #6a6a6a) !important;
}

#grid {
    flex: 1;
    width: auto;
    margin: 0px;
    border: none;
    border-radius: 0;
}

#add {
    margin: 0px;
}
