:host {
    display: inline-flex;
    width: 1em;
    height: 1em;
    user-select: none;
}
#icon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    pointer-events: none;
}
