:host {
    display: inline-flex;
    width: 1em;
    height: 1em;
    user-select: none;
}
:host(:hover) {
    background-size: 100%;
}
#icon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: white;
    font-size: 0.8em;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 0;
    white-space: normal;
    line-height: 0.7em;
    font-weight: bold;
    word-break: normal;
}
