<emc-i18n-tooltip id="tooltip">
    <a id="button" href="" target="_blank">
        <slot></slot>
        <emc-i18n-label id="text"></emc-i18n-label>
        <svg id="link-icon" viewBox="0 0 1000 1000">
            <path fill="#000000" strike="#000000" d="m 259.21342,52.416666 c -131.57006,0 -239.213421,107.637954 -239.213421,239.209234 v 481.58147 c 0,131.5713 107.643361,239.20933 239.213421,239.20933 h 481.56823 c 131.56999,0 239.21557,-107.63803 239.21557,-239.20933 V 641.63852 c 0,-32.96185 -28.59341,-57.28546 -55.0838,-57.28546 -26.49034,0 -55.08158,22.98269 -55.08158,57.28546 v 131.56885 c 0,72.44607 -56.6049,129.04935 -129.05019,129.04935 H 259.21342 c -72.44534,0 -129.04804,-56.60328 -129.04805,-129.04935 V 291.6259 c 0,-72.44598 56.60271,-129.04925 129.04805,-129.04925 h 128.42192 c 35.00955,0 57.28487,-28.59013 57.28487,-55.07999 0,-26.48986 -24.9794,-55.079994 -57.28487,-55.079994 z m 353.15703,0 c -35.04848,0 -57.28486,28.590159 -57.28486,55.079994 0,26.48984 25.01491,55.07999 57.28486,55.07999 h 128.4112 c 19.71875,0 22.6572,1.42568 26.02172,8.77657 2.1499,4.69713 2.3702,10.84953 -9.09491,22.31472 -11.4651,11.46519 -296.65536,296.65173 -296.65536,296.65173 -21.51087,21.51099 -21.51087,56.38727 0,77.89826 21.5107,21.51108 56.38672,21.51108 77.89747,0 0,0 287.89142,-287.88779 297.44283,-297.43925 9.55142,-9.55155 17.78816,-20.94471 27.4569,-16.43862 10.28196,4.79186 5.98154,16.50366 5.98154,37.28588 V 416.9077 c 0,31.73918 28.59128,57.28546 55.08158,57.28546 26.49039,0 55.0838,-23.91315 55.0838,-57.28546 V 291.6259 126.31711 c 0,-3.22627 0.61414,-39.218466 -16.44059,-56.192392 C 946.50186,53.150792 904.8077,52.416666 901.94698,52.416666 H 740.78165 Z" />
        </svg>
    </a>
</emc-i18n-tooltip>
