* {
    box-sizing: border-box;
}
:host {
    position: relative;
    box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
    width: var(--scrollbar-size, 12px);
    height: var(--scrollbar-size, 12px);
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color, #eeeeee);
    border-style: var(--scrollbar-track-border-style, solid);
    border-width: var(--scrollbar-track-border-width, 0px);
    border-color: var(--scrollbar-track-border-color, #00000000);
    border-radius: var(--scrollbar-track-border-radius, 6px);
}
::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner-color, #00000000);
    border-style: var(--scrollbar-corner-border-style, solid);
    border-width: var(--scrollbar-corner-border-width, 0px);
    border-color: var(--scrollbar-corner-border-color, #00000000);
    border-radius: var(--scrollbar-corner-border-radius, 0px);
}
::-webkit-resizer {
    background: radial-gradient(var(--scrollbar-resizer-color, #000000) calc(var(--scrollbar-size, 12px) / 2 - 2px), transparent calc(var(--scrollbar-size, 12px) / 2 - 1px));
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color, #cccccc);
    border-style: var(--scrollbar-thumb-border-style, solid);
    border-width: var(--scrollbar-thumb-border-width, 2px);
    border-color: var(--scrollbar-thumb-border-color, #eeeeee);
    border-radius: var(--scrollbar-thumb-border-radius, 6px);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color, #999999);
    border-style: var(--scrollbar-thumb-hover-border-style, solid);
    border-width: var(--scrollbar-thumb-hover-border-width, 2px);
    border-color: var(--scrollbar-thumb-hover-border-color, #eeeeee);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active-color, #000000);
    border-style: var(--scrollbar-thumb-active-border-style, solid);
    border-width: var(--scrollbar-thumb-active-border-width, 2px);
    border-color: var(--scrollbar-thumb-active-border-color, #eeeeee);
}

/* disabled scrollbar */
.scroll-disabled::-webkit-scrollbar-track {
    background-color: var(--scrollbar-disabled-track-color, #6a6a6a);
    border-color: var(--scrollbar-disabled-track-border-color, #00000000);
}
.scroll-disabled::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-disabled-corner-color, #00000000);
    border-color: var(--scrollbar-disabled-corner-border-color, #00000000);
}
.scroll-disabled::-webkit-resizer {
    background: radial-gradient(var(--scrollbar-disabled-resizer-color, #757575) calc(var(--scrollbar-size, 12px) / 2 - 2px), transparent calc(var(--scrollbar-size, 12px) / 2 - 1px));
}
.scroll-disabled::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-disabled-thumb-color, #757575);
    border-color: var(--scrollbar-disabled-thumb-border-color, #999999);
}