<div id="container">
    <input is="emc-i18n-input" id="number" type="number" min="0" max="10" step="1" autocomplete="off">
    <div id="input-container">
        <input id="input" type="range" min="0" max="10" step="1">
    </div>
</div>
