#container {
    display: flex;
    min-width: 200px;
    width: 100%;
}

#number {
    appearance: textfield;
    flex-shrink: 0;
    height: 2em;
    width: 5em;
    padding: 0px 7px;
    margin-right: calc(-1 * var(--input-border-width, 2px));
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px) 0px 0px var(--input-border-radius, 6px);
    font-size: 1em;
    text-align: end;
}

#number:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #number {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #number:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

#input {
    position: relative;
    appearance: none;
    flex-grow: 1;
    height: 100%;
    padding: 0px 0.2em;
    margin: 0px;
    background-color: transparent;
    font-size: 1em;
    box-sizing: border-box;
    caret-color: transparent;
    cursor: pointer;
    z-index: 1;
}

#input:focus {
    outline: none;
}

#input-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 2em;
    padding: 0.5em 0.2em;
    margin: 0px;
    background-color: var(--input-back-color, #ffffff);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: 0px var(--input-border-radius, 6px) var(--input-border-radius, 6px) 0px;
    font-size: 1em;
    box-sizing: border-box;
}

#input-container:focus-within {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

#input-container::before {
    position: absolute;
    box-sizing: border-box;
    inset: 0.5em;
    padding: 0.125em 0px;
    background-color: var(--range-track-color, #f5f5f5);
    background-image: var(--range-track-image, none);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    clip-path: rect(0px calc(100% - 0.4em) 100% 0.4em);
    content: " ";
}

#input-container.scratched::before {
    background-image: linear-gradient(90deg, var(--input-back-color, #ffffff) 0.1em, transparent 0.1em, transparent calc(100% - 0.1em), var(--input-back-color, #ffffff) calc(100% - 0.1em)), var(--range-track-image, none);
    background-position: 0.2em center, center center;
    background-size: calc((100% - 0.4em) / var(--range-parts, 10)) 100%, cover;
    background-repeat: repeat-x, no-repeat;
    background-clip: content-box, padding-box;
}

#input-container::after {
    position: absolute;
    box-sizing: border-box;
    inset: 0.5em;
    padding: 0.125em 0px;
    background-color: var(--range-fill-color, #f5f5f5);
    background-image: var(--range-fill-image, none);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    clip-path: rect(0px calc((100% - 0.4em) / var(--range-parts, 10) * var(--range-value, 0)) 100% 0.4em);
    content: " ";
}

#input-container.scratched::after {
    background-image: linear-gradient(90deg, var(--input-back-color, #ffffff) 0.1em, transparent 0.1em, transparent calc(100% - 0.1em), var(--input-back-color, #ffffff) calc(100% - 0.1em)), var(--range-track-image, none);
    background-position: 0.2em center, center center;
    background-size: calc((100% - 0.4em) / var(--range-parts, 10)) 100%, cover;
    background-repeat: repeat-x, no-repeat;
    background-clip: content-box, padding-box;
}

:host(:invalid) #input {
    background-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

:host(:invalid) #input-container::before {
    background-color: var(--range-invalid-track-color, #ff9987);
    background-image: var(--range-invalid-track-image, none);
}

:host(:invalid) #input-container.scratched::before {
    background-image:
        linear-gradient(90deg,
            var(--input-invalid-back-color, #ffebeb) 1px,
            transparent 1px,
            transparent calc(100% - 1px),
            var(--input-invalid-back-color, #ffebeb) calc(100% - 1px)), var(--range-track-image, none);
}

:host(:invalid) #input-container::after {
    background-color: var(--range-invalid-fill-color, #a70000);
    background-image: var(--range-invalid-fill-image, none);
}

:host(:invalid) #input-container.scratched::after {
    background-image:
        linear-gradient(90deg,
            var(--input-invalid-back-color, #ffebeb) 1px,
            transparent 1px,
            transparent calc(100% - 1px),
            var(--input-invalid-back-color, #ffebeb) calc(100% - 1px)), var(--range-track-image, none);
}

#number:disabled {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    opacity: 1 !important;
}

#number:disabled + #input-container {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    opacity: 1 !important;
}

#number:disabled + #input-container::before {
    background-color: var(--range-disabled-track-color, #b5b5b5);
    background-image: var(--range-disabled-track-image, none);
}

#number:disabled + #input-container.scratched::before {
    background-image:
        linear-gradient(90deg,
            var(--input-disabled-back-color, #999999) 0.1em,
            transparent 0.1em,
            transparent calc(100% - 0.1em),
            var(--input-disabled-back-color, #999999) calc(100% - 0.1em)), var(--range-disabled-track-image, none);
}

#number:disabled + #input-container::after {
    background-color: var(--range-disabled-fill-color, #464646);
    background-image: var(--range-disabled-fill-image, none);
}

#number:disabled + #input-container.scratched::after {
    background-image:
        linear-gradient(90deg,
            var(--input-disabled-back-color, #999999) 0.1em,
            transparent 0.1em,
            transparent calc(100% - 0.1em),
            var(--input-disabled-back-color, #999999) calc(100% - 0.1em)), var(--range-disabled-fill-image, none);
}

/* webkit */
#input::-webkit-slider-runnable-track {
    position: relative;
    height: 0.8em;
    width: 100%;
    padding: 0px;
    cursor: pointer;
    background: transparent;
    border-radius: 2px;
    box-sizing: border-box;
}

#input:disabled::-webkit-slider-runnable-track {
    cursor: default !important;
}

#input::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    height: 1.2em;
    width: 0.6em;
    margin: -0.2em 0px;
    background-color: var(--range-button-back-color, #cccccc);
    border: 1px solid var(--range-button-border-color, #ffffff);
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
}

:host(:invalid) #input::-webkit-slider-thumb {
    border-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}

#input::-webkit-slider-thumb:hover {
    background-color: var(--range-button-hover-back-color, #353935);
    border: 1px solid var(--range-button-hover-border-color, #000000);
}

#input:disabled::-webkit-slider-thumb {
    background-color: var(--range-button-disabled-back-color, #999999) !important;
    border-color: var(--range-button-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}

/* mozilla */
#input::-moz-range-track {
    position: relative;
    height: 0.8em;
    width: 100%;
    padding: 0px;
    cursor: pointer;
    background: transparent;
    border-radius: 2px;
    box-sizing: border-box;
}

#input:disabled::-moz-range-track {
    cursor: default !important;
}

#input::-moz-range-thumb {
    position: relative;
    height: 1.2em;
    width: 0.6em;
    background-color: var(--range-button-back-color, #cccccc);
    border: 1px solid var(--range-button-border-color, #ffffff);
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
}

:host(:invalid) #input::-moz-range-thumb {
    border-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}

#input::-moz-range-thumb:hover {
    background-color: var(--range-button-hover-back-color, #353935);
    border: 1px solid var(--range-button-hover-border-color, #000000);
}

#input:disabled::-moz-range-thumb {
    background-color: var(--range-button-disabled-back-color, #999999) !important;
    border-color: var(--range-button-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}

/* microsoft */
#input::-ms-track {
    position: relative;
    height: 0.8em;
    width: 100%;
    padding: 0px;
    cursor: pointer;
    background: transparent;
    border-radius: 2px;
    box-sizing: border-box;
}

#input:disabled::-ms-track {
    cursor: default !important;
}

#input::-ms-thumb {
    position: relative;
    height: 1.2em;
    width: 0.6em;
    background-color: var(--range-button-back-color, #cccccc);
    border: 1px solid var(--range-button-border-color, #ffffff);
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
}

:host(:invalid) #input::-ms-thumb {
    border-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}

#input::-ms-thumb:hover {
    background-color: var(--range-button-hover-back-color, #353935);
    border: 1px solid var(--range-button-hover-border-color, #000000);
}

#input:disabled::-ms-thumb {
    background-color: var(--range-button-disabled-back-color, #999999) !important;
    border-color: var(--range-button-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}
