:host {
    position: relative;
    display: flex;
    min-height: 100%;
    min-width: 100%;
    overflow-wrap: break-word;
    resize: none;
}

#container {
    position: relative;
    flex: 1;
    line-height: normal;
}

.settings-option {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--form-text-color, #000000);
    background-color: var(--form-back-color, #ffffff);
}

.settings-option:hover {
    color: var(--form-hover-text-color, #ffffff);
    background-color: var(--form-hover-back-color, #696969);
}

.settings-option .option-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
}

.settings-option .option-container .option-text,
.option-caption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 500px;
    padding: 10px;
    user-select: none;
}

.settings-option .option-container .option-text {
    flex-shrink: 1;
    cursor: pointer;
}

.option-caption {
    flex-grow: 1;
    font-size: 1.5em;
    pointer-events: none;
}

.settings-option .option-container .option-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.settings-option .option-container .option-input .settings-input:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
}

.settings-option .option-container .option-input .settings-input:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

.settings-option .option-container .option-input .settings-input[type="checkbox"] {
    margin-right: 10px;
}

.settings-option .option-container .option-input .settings-input:not([type="checkbox"]) {
    flex: 1;
}

.settings-option .option-container .option-input emc-listselect.settings-input {
    max-height: 300px;
}

.settings-option .option-container .option-input .option-reset button {
    position: sticky;
    top: 0px;
    bottom: 0px;
    margin-left: auto;
}

.settings-option .option-desc {
    display: block;
    flex-shrink: 0;
    padding: 0 10px 10px;
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.6;
}
