<emc-panel-tabpanel id="categories">
</emc-panel-tabpanel>
<div id="footer">
    <button id="submit" title="submit">
        submit
    </button>
    <button id="cancel" title="cancel">
        cancel
    </button>
</div>