:host {
    box-sizing: border-box;
}

#window {
    height: 600px;
    width: 1000px;
}

#footer,
#submit,
#cancel {
    display: flex;
}

#categories {
    overflow-x: auto;
    overflow-y: hidden;
}

#footer {
    height: 50px;
    padding: 10px 30px 10px;
    justify-content: flex-end;
    color: var(--modal-footer-text-color, #000000);
    background-color: var(--modal-footer-back-color, #e4e4e4);
    background-image: var(--modal-footer-back-image, none);
    border-top: solid var(--modal-border-width, 2px) var(--modal-border-color, #cccccc);
}

#submit,
#cancel {
    margin-left: 10px;
    padding: 5px;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
    border-style: solid;
    border-width: var(--button-border-width, 2px);
    border-color: var(--button-border-color, #222222);
    border-radius: var(--button-border-radius, 6px);
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    appearance: none;
}

#submit:hover,
#cancel:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #353935);
    border-color: var(--button-hover-border-color, #222222);
}
