:host {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    min-height: 2em;
    background-color: var(--navigation-back-color, #ffffff);
    background-image: var(--navigation-back-image, none);
    color: var(--navigation-text-color, #000000);
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 900500;
}
#container {
    display: block;
    margin: 0;
    width: 100%;
    z-index: 100;
}
#cover {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#container.cover #cover,
#container.open #cover {
    display: block;
}
#hamburger-button {
    position: relative;
    display: none;
    width: 3em;
    height: 3em;
    margin: 0;
    transition: transform 0.2s ease-in-out;
}
#container.open ~ #hamburger-button {
    transform: translateX(calc(100dvw - (3em + 10px)));
}
ul {
    position: relative;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -moz-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    list-style: none;
}
ul li {
    position: relative;
    min-width: 150px;
    padding: 0 5px;
    background-color: var(--navigation-back-color, #ffffff);
    background-image: var(--navigation-back-image, none);
}
ul > li {
    display: inline-block;
}
ul > li > ul {
    left: 0;
    width: 100px;
    z-index: 100;
    box-shadow: var(--navigation-shadow-color, #000000) 2px 4px 6px -2px;
}
ul#content {
    display: inline-flex;
    margin: 0;
}
ul li > emc-navbar-button {
    height: 2em;
    width: 100%;
}
@media (max-width: 500px) {
    :host {
        display: block;
        min-height: 3em;
        width: 100dvw;
    }
    #container {
        position: absolute;
        width: 100dvw;
        left: -100dvw;
        height: 100dvh;
        padding-right: calc(3em + 10px);
        transition: left 0.2s ease-in-out;
    }
    #container.open {
        left: 0;
    }
    #hamburger-button {
        display: inline-block;
        z-index: 99;
    }
    ul li {
        width: 100%;
    }
    ul#content {
        flex-direction: column;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        box-shadow: var(--navigation-marker-color, #000000) 2px 4px 8px 2px;
    }
    ul#content > li > ul {
        display: none;
        width: 100%;
        padding: 0 0 0 20px;
    }
    ul#content > li.open > ul {
        display: table;
        box-shadow: none;
    }
    ul#content > li > ul:not(:last-child) {
        padding-bottom: 4px;
    }
    ul li > emc-navbar-button {
        height: 3em;
        --justify-content: flex-start;
    }
}
@media (min-width: 501px) {
    ul#content {
        flex-wrap: wrap;
        width: 100%;
    }
    ul#content > li > ul {
        position: absolute;
        display: table;
        top: 100%;
        transition: transform 0.2s ease-in-out;
        transform-origin: center top;
        transform: scaleY(0);
    }
    ul#content > li.open > ul {
        transform: scaleY(1);
    }
    ul#content > li > ul > li {
        display: inline-block;
        width: 100%;
    }
}
