:host {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: default;
    z-index: 900700;
}
:host([active]:not([active="false"])) {
    display: block;
}
#menu {
    position: relative;
    display: inline-block;
    overflow: auto;
    max-width: calc(100dvw - 50px);
    max-height: calc(100dvh - 50px);
    background: var(--contextmenu-back-color, #ffffff);
    border: solid 2px var(--contextmenu-border-color, #cccccc);
}
::slotted(.item),
::slotted([menu-action]) {
    display: flex;
    align-items: center;
    min-width: 150px;
    min-height: 40px;
    padding: 5px;
    color: var(--contextmenu-text-color, #000000);
    background: var(--contextmenu-back-color, #ffffff);
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}
::slotted(.item:hover),
::slotted([menu-action]:hover) {
    color: var(--contextmenu-hover-text-color, #ffffff);
    background: var(--contextmenu-hover-back-color, #696969);
}
::slotted(.item:focus),
::slotted([menu-action]:focus) {
    box-shadow: inset 0 0 2px 2px var(--contextmenu-focus-color, #06b5ff);
    outline: none;
}
::slotted(.splitter) {
    display: block;
    margin: 10px 5px;
    height: 2px;
    background: var(--contextmenu-text-color, #000000);
    cursor: default;
    user-select: none;
    box-sizing: border-box;
}
::slotted(.hidden) {
    display: none !important;
}
