#info {
    color: var(--contextmenu-info-text-color, #000000);
    font-size: 0.5em;
    margin-left: 1em;
    font-style: italic;
}
#info:empty {
    display: none;
}
:host(:hover) #info {
    color: var(--contextmenu-info-hover-text-color, #ffffff);
}
