:host {
    display: contents;
}
#ctxmnu {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    overflow: hidden;
    pointer-events: none;
    z-index: 900700;
}
::slotted([slot="ctxmnu"]) {
    pointer-events: all;
}
