<slot class="container top left" name="top-left"></slot>
<slot class="container top center" name="top-center"></slot>
<slot class="container top right" name="top-right"></slot>
<slot class="container bottom left" name="bottom-left"></slot>
<slot class="container bottom center" name="bottom-center"></slot>
<slot class="container bottom right" name="bottom-right"></slot>