<input is="emc-i18n-input" id="input" autocomplete="off" readonly>
<div id="scroll-container">
    <div id="options-container"></div>
    <emc-i18n-label id="empty" i18n-value="no entries"></emc-i18n-label>
</div>
<slot id="options-slot"></slot>
