#field {
    height: 2em;
    overflow: visible;
    color: var(--input-text-color, #000000);
    background-color: transparent;
    background-image: none;
}

/* --- */
#input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* --- */
#options-container button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    padding: 0px;
    color: var(--input-button-text-color, #000000);
    background-color: var(--input-button-back-color, #ffffff);
    background-image: var(--input-button-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
}

#options-container button.selected {
    color: var(--input-button-active-text-color, #ffffff);
    background-color: var(--input-button-active-back-color, #222222);
    background-image: var(--input-button-active-back-image, none);
    border-color: var(--input-button-active-border-color, #222222);
}

#options-container button:first-child {
    border-top-left-radius: var(--input-border-radius, 6px);
    border-bottom-left-radius: var(--input-border-radius, 6px);
}

#options-container button:last-child {
    border-top-right-radius: var(--input-border-radius, 6px);
    border-bottom-right-radius: var(--input-border-radius, 6px);
}

#options-container button:nth-child(n + 2) {
    margin: 0 0 0 calc(-1 * var(--input-border-width, 2px));
}

#options-container button:hover {
    color: var(--input-button-hover-text-color, #000000);
    background-color: var(--input-button-hover-back-color, #b3e5ec);
    background-image: var(--input-button-hover-back-image, none);
}

#options-container button.selected:hover {
    color: var(--input-button-active-hover-text-color, #ffffff);
    background-color: var(--input-button-active-hover-back-color, #222222);
    background-image: var(--input-button-active-hover-back-image, none);
    border-color: var(--input-button-active-hover-border-color, #222222);
    cursor: default;
}

#options-container button:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #options-container button {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #options-container button:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#options-container button:disabled {
    color: var(--input-button-disabled-text-color, #757575) !important;
    background-color: var(--input-button-disabled-back-color, #999999) !important;
    background-image: var(--input-button-disabled-back-image, none) !important;
    border-color: var(--input-button-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

#options-container button.selected:disabled {
    color: var(--input-button-active-disabled-text-color, #757575) !important;
    background-color: var(--input-button-active-disabled-back-color, #3f3f3f) !important;
    background-image: var(--input-button-active-disabled-back-image, none) !important;
    border-color: var(--input-button-active-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

#options-container button[readonly]:not([readonly="false"]) {
    pointer-events: none;
}

/* --- */
#scroll-container,
#options-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100%;
}

#options-container:empty {
    display: none;
}

/* --- */
#empty {
    display: none;
    align-items: center;
    justify-content: center;
    font-style: italic;
    height: 100%;
    width: 100%;
    padding: 5px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    white-space: normal;
}

#options-container:empty + #empty {
    display: flex;
}

:host(:invalid) #empty {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

.hidden,
#options-slot {
    display: none !important;
}
