<emc-i18n-tooltip id="tooltip">
    <button id="container">
        <div id="icon-background">
            <div id="icon"></div>
        </div>
        <emc-i18n-label id="text"></emc-i18n-label>
    </button>
</emc-i18n-tooltip>