<div class="header">
    <button id="expand-button" tabindex="-1">⛶</button>
</div>
<textarea is="emc-i18n-textarea" id="input" wrap="off"></textarea>
<div class="footer">
    <span id="length-info"></span>
</div>
