<input is="emc-i18n-input" id="input" autocomplete="off" readonly>
<div id="button"></div>
<div id="scroll-container">
    <div id="options-container"></div>
    <emc-i18n-label id="empty" i18n-value="no entries"></emc-i18n-label>
</div>
<select id="native-select">
    <option is="emc-i18n-option" id="native-empty" i18n-value="no entries" disabled></option>
</select>
<slot id="options-slot"></slot>
