<div class="header">
    <button id="expand-button" tabindex="-1">⛶</button>
</div>
<div id="container">
    <div id="line-numbers">
        <div class="caret">1</div>
    </div>
    <div id="input-wrapper">
        <textarea id="input" spellcheck="false"></textarea>
        <div id="output-wrapper">
            <code id="input-mirror"></code>
            <div id="line-marker"></div>
        </div>
    </div>
</div>
<div class="footer">
    <span id="line-info">Ln 1, Col 1</span>
</div>
