<emc-i18n-tooltip id="tooltip">
    <label id="label" for="input">
        <emc-i18n-label id="label-text"></emc-i18n-label>
    </label>
    <div id="field-container">
        <div id="field"></div>
        <emc-button id="reset" icon="↺" class="rotate-icon-270 inactive" tabindex="-1"></emc-button>
    </div>
    <emc-i18n-textbox id="error" aria-live="polite"></emc-i18n-textbox>
    <emc-i18n-textbox id="description"></emc-i18n-textbox>
</emc-i18n-tooltip>
