:host {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    min-width: 100px;
    padding: 6px;
    color: var(--form-text-color, #000000);
    font-size: 1rem;
}

:host(:not([nohover]):hover),
:host([nohover="false"]:hover) {
    color: var(--form-hover-text-color, #000000);
    background-color: var(--form-hover-back-color, #eeeeee);
    background-image: var(--form-hover-back-image, none);
}

#field-container {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
}

#field {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 0px;
}

#reset {
    display: none;
    width: 2em;
    height: 2em;
    margin: 0px 0px 0px 5px;
}

:host([resettable]:not([resettable="false"])) #reset {
    display: block;
}

#reset.inactive {
    opacity: 0.5;
    pointer-events: none;
}

#label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    cursor: pointer;
    user-select: none;
    padding: 0 4px 4px;
}

:host(:disabled) #label {
    cursor: default;
}

#label:has(#label-text:empty) {
    display: none;
}

#error {
    display: block;
    flex-shrink: 0;
    max-width: 100%;
    padding: 0px 5px;
    margin: 4px 0 0;
    color: var(--form-invalid-text-color, #a70000);
    background-color: var(--form-invalid-back-color, #ffeeee);
    background-image: var(--form-invalid-back-image, none);
    font-size: 0.9em;
    line-height: 1.4em;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}

:host([hideerrors]:not([hideerrors="false"])) #error,
#error:empty {
    display: none;
}

#description {
    display: block;
    flex-shrink: 0;
    max-width: 100%;
    padding: 0px 5px;
    margin: 4px 0 0;
    font-size: 0.9em;
    line-height: 1.4em;
    font-style: italic;
    cursor: default;
    user-select: none;
}

#description:empty {
    display: none;
}
