:host {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    font-size: 0.5em;
    line-height: 1em;
    font-weight: bold;
    font-family: sans-serif;
    pointer-events: none;
}