:host {
    display: inline-flex;
    pointer-events: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

:host(.header) {
    margin: 5px 0px 2px;
    font-size: 1.5em;
}

#target {
    display: inline;
    overflow: inherit;
    text-overflow: inherit;
}
