<div id="icon-background">
    <div id="icon"></div>
</div>
<input is="emc-i18n-input" id="input" type="text" readonly tabindex="-1">
<emc-i18n-tooltip i18n-tooltip="choose">
    <button id="button"></button>
</emc-i18n-tooltip>
<slot id="options-slot"></slot>
