#icon-background {
    width: 2em;
    height: 2em;
    margin-right: calc(-1 * var(--input-border-width, 2px));
    background-color: var(--input-back-color, #ffffff);
    background-image:
        linear-gradient(45deg, var(--image-checker-back-color) 25%, transparent 25%),
        linear-gradient(-45deg, var(--image-checker-back-color) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--image-checker-back-color) 75%),
        linear-gradient(-45deg, transparent 75%, var(--image-checker-back-color) 75%);
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px) 0px 0px var(--input-border-radius, 6px);
}

:host(:invalid) #icon-background {
    background-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}

#icon {
    width: 100%;
    height: 100%;
    font-size: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* --- */
#input {
    flex-grow: 1;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: 0px;
    font-size: 1em;
    pointer-events: none;
}

#input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #input {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#input::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}

#input:disabled {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}

/* --- */
#button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: 0px;
    margin: 0 0 0 calc(-1 * var(--input-border-width, 2px));
    color: var(--input-button-text-color, #000000);
    background-color: var(--input-button-back-color, #ffffff);
    background-image: var(--input-button-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: 0 var(--input-border-radius, 6px) var(--input-border-radius, 6px) 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
}

#button:hover {
    color: var(--input-button-hover-text-color, #000000);
    background-color: var(--input-button-hover-back-color, #b3e5ec);
    background-image: var(--input-button-hover-back-image, none);
}

#button:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

:host(:invalid) #button {
    color: var(--input-button-invalid-text-color, #000000);
    background-color: var(--input-button-invalid-back-color, #ffebeb);
    background-image: var(--input-button-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:invalid) #button:hover {
    color: var(--input-button-invalid-hover-text-color, #000000);
    background-color: var(--input-button-invalid-hover-back-color, #ff9987);
    background-image: var(--input-button-invalid-hover-back-image, none);
}

:host(:invalid) #button:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}

#button:disabled {
    color: var(--input-button-disabled-text-color, #757575) !important;
    background-color: var(--input-button-disabled-back-color, #999999) !important;
    background-image: var(--input-button-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}

#button::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: -4px;
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: -4px;
    content: "...";
}

#options-slot {
    display: none !important;
}
