#field {
    flex-direction: column;
}

/* --- */
#input {
    padding: 0px;
}

#input:focus {
    outline: none;
}

/* --- */
#logic {
    margin-top: 5px;
    padding: 0;
}

#logic:not(.active) {
    display: none;
}
