<emc-select-switch id="input" value="true" hideerrors nohover novalidate>
    <option is="emc-i18n-option" value="true" i18n-value="True"></option>
    <option is="emc-i18n-option" value="false" i18n-value="False"></option>
    <option is="emc-i18n-option" value="logic" i18n-value="Logic"></option>
</emc-select-switch>
<emc-input-logic id="logic" hideerrors nohover novalidate></emc-input-logic>
