:host {
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

#container {
    flex: 1;
    padding: 2px;
    overflow: auto;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: min-content;
    min-width: max(100%, 500px);
    max-width: min(100%, 500px);
}

:host([noscroll]:not([noscroll="false"])) #content {
    max-height: 100%;
}

::slotted(form) {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    min-height: 2em;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    color: var(--form-text-color, #000000);
    background-color: var(--form-back-color, #cccccc);
    background-image: var(--form-back-image, none);
    border-style: solid;
    border-width: var(--form-border-width, 2px);
    border-color: var(--form-border-color, #222222);
    border-radius: 0px !important;
}

::slotted(form:first-child) {
    border-top-left-radius: var(--form-border-radius, 6px) !important;
    border-top-right-radius: var(--form-border-radius, 6px) !important;
}

::slotted(form:not(:first-child)) {
    margin-top: calc(-1 * var(--form-border-width, 2px));
}

::slotted(form:last-child) {
    flex-grow: 1;
    border-bottom-left-radius: var(--form-border-radius, 6px) !important;
    border-bottom-right-radius: var(--form-border-radius, 6px) !important;
}

:host([hasheader]:not([hasheader="false"])) ::slotted(form:first-child) {
    position: sticky;
    flex-grow: 0;
    top: 0px;
    box-shadow: var(--page-back-color, #ffffff) 0px calc(-1 * var(--form-border-radius, 6px)) 0px 0px;
    z-index: 100 !important;
}

:host([hasfooter]:not([hasfooter="false"])) ::slotted(form:last-child) {
    position: sticky;
    flex-grow: 0;
    bottom: 0px;
    box-shadow: var(--page-back-color, #ffffff) 0px var(--form-border-radius, 6px) 0px 0px;
    z-index: 100 !important;
}

:host([hasfooter]:not([hasfooter="false"])) ::slotted(form:nth-last-child(2)) {
    flex-grow: 1;
}
