<div id="container">
    <fieldset id="fieldset">
        <emc-i18n-tooltip id="tooltip">
            <legend id="legend"><emc-i18n-label id="text"></emc-i18n-label></legend>
        </emc-i18n-tooltip>
        <emc-i18n-textbox id="description"></emc-i18n-textbox>
        <slot id="contents"></slot>
    </fieldset>
</div>