<div id="container">
    <slot id="field-container"></slot>
    <emc-i18n-textbox id="error" aria-live="polite"></emc-i18n-textbox>
    <emc-i18n-textbox id="description"></emc-i18n-textbox>
</div>
