<table id="table">
    <thead class="head">
        <tr id="header">
        </tr>
    </thead>
    <tbody id="body">
    </tbody>
</table>
<div id="nocolumns-container">
    <emc-i18n-label id="nocolumns" i18n-value="missing column definition"></emc-i18n-label>
</div>
<div id="empty-container">
    <emc-i18n-label id="empty" i18n-value="no entries"></emc-i18n-label>
</div>
<slot id="column-container"></slot>
