:host {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 300px;
    margin: 8px;
    color: var(--datagrid-text-color, #000000);
    background-color: var(--datagrid-back-color, #ffffff);
    background-image: var(--datagrid-back-image, none);
    border-style: solid;
    border-width: var(--datagrid-border-width, 2px);
    border-color: var(--datagrid-border-color, #000000);
    border-radius: var(--datagrid-border-radius, 6px);
    overflow: auto;
    line-height: normal;
    scroll-padding-top: 3em;
    scroll-padding-bottom: 0.5em;
}

:host([nohead]:not([nohead="false"])) {
    scroll-padding-top: 0.5em;
}

:host([disabled]:not([disabled="false"])) {
    color: var(--datagrid-disabled-text-color, #757575) !important;
    background-color: var(--datagrid-disabled-back-color, #999999) !important;
    background-image: var(--datagrid-disabled-back-image, none) !important;
    pointer-events: none;
}

#table {
    min-width: 100%;
    border-spacing: 0px;
}

:host([nohead]:not([nohead="false"])) .head th,
:host([nohead]:not([nohead="false"])) .head emc-datagrid-headercell {
    height: 0px;
    font-size: 0px;
}

.head th,
.head emc-datagrid-headercell {
    position: sticky;
    box-sizing: border-box;
    top: 0px;
    min-width: 50px;
    padding: 0px 25px;
    color: var(--datagrid-header-text-color, #ffffff);
    background-color: var(--datagrid-header-back-color, #000000);
    background-image: var(--datagrid-header-back-image, none);
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
}

:host([disabled]:not([disabled="false"])) .head th,
:host([disabled]:not([disabled="false"])) .head emc-datagrid-headercell {
    color: var(--datagrid-disabled-header-text-color, #999999) !important;
    background-color: var(--datagrid-disabled-header-back-color, #757575) !important;
    background-image: var(--datagrid-disabled-header-back-image, none) !important;
}

:host([stretch="last"]) th:last-child {
    width: 100%;
}

.head th:not(:first-child):not(:nth-child(2)):not(.lastCell),
.head emc-datagrid-headercell:not(:first-child):not(:nth-child(2)):not(.lastCell) {
    border-left-style: solid;
    border-left-width: var(--datagrid-column-seperator-width, 2px);
    border-left-color: var(--datagrid-header-seperator-color, #ffffff);
}

:host([disabled]:not([disabled="false"])) .head th:not(:first-child):not(:nth-child(2)):not(.lastCell),
:host([disabled]:not([disabled="false"])) .head emc-datagrid-headercell:not(:first-child):not(:nth-child(2)):not(.lastCell) {
    border-left-color: var(--datagrid-disabled-header-seperator-color, #999999) !important;
}

.head th.lastCell,
.head emc-datagrid-headercell.lastCell {
    padding: 0px;
    min-width: 0px;
    width: 100%;
}

.head th.lastCell:not(:first-child),
.head emc-datagrid-headercell.lastCell:not(:first-child) {
    box-shadow: inset var(--datagrid-header-seperator-color, #ffffff) var(--datagrid-column-seperator-width, 2px) 0px 0px;
}

#body tr:hover {
    color: var(--datagrid-row-hover-text-color, #000000);
    background-color: var(--datagrid-row-hover-back-color, #e4e4e4);
    background-image: var(--datagrid-row-hover-back-image, none);
}

:host([disabled]:not([disabled="false"])) tr {
    color: var(--button-disabled-text-color, #757575) !important;
    background-color: var(--button-disabled-back-color, #999999) !important;
    background-image: var(--button-disabled-back-image, none) !important;
}

#body tr > * {
    box-sizing: border-box;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: var(--datagrid-row-seperator-width, 1px);
    border-bottom-color: var(--datagrid-row-seperator-color, #696969);
    overflow: hidden;
}

:host([disabled]:not([disabled="false"])) tr > * {
    color: var(--datagrid-disabled-text-color, #757575) !important;
    background-color: var(--datagrid-disabled-back-color, #999999) !important;
    background-image: var(--datagrid-disabled-back-image, none) !important;
    border-bottom-color: var(--datagrid-disabled-row-seperator-color, #757575) !important;
}

#body tr > :not(:first-child):not(:nth-child(2)):not(.lastCell) {
    padding: 0 0 0 var(--datagrid-column-seperator-width, 2px);
}

#body tr > .lastCell {
    padding: 0px;
}

#empty-container,
#nocolumns-container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-width: calc(200px - var(--scrollbar-size, 0px) - 4px);
    /* --datagrid-border-width * 2 */
    min-height: 2rem;
    pointer-events: none;
    user-select: none;
    animation: popInLater .1s ease-in 1s forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

#empty-container #empty,
#nocolumns-container #nocolumns {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 20px;
    height: 30px;
    color: var(--datagrid-empty-text-color, #666666);
    background-color: var(--datagrid-empty-back-color, #dadada);
    background-image: var(--datagrid-empty-back-image, none);
    border-style: solid;
    border-width: var(--datagrid-empty-border-width, 2px);
    border-color: var(--datagrid-empty-border-color, #666666);
    border-radius: var(--datagrid-empty-border-radius, 6px);
    font-size: 16px;
    font-style: italic;
    white-space: nowrap;
}

#options-container,
#empty-container.hidden,
#nocolumns-container.hidden {
    display: none;
}

#nocolumns-container:not(.hidden) + #empty-container {
    display: none;
}

.select-cell {
    display: none;
    text-align: center;
}

:host([selectable]:not([selectable="false"])) .select-cell {
    display: table-cell;
}

.head th.select-cell {
    min-width: 40px;
    padding: 0px;
}

#body tr > .select-cell.select-cell-start {
    padding: 0 var(--datagrid-column-seperator-width, 2px) 0 0;
}

.head th.select-cell.select-cell-start:not(:nth-last-child(2)) {
    border-right-style: solid;
    border-right-width: var(--datagrid-column-seperator-width, 2px);
    border-right-color: var(--datagrid-header-seperator-color, #ffffff);
}

:host([selectable]:not([selectable="false"]):not([multiple])) .head th.select-cell input[type="checkbox"],
:host([selectable]:not([selectable="false"])[multiple="false"]) .head th.select-cell input[type="checkbox"],
:host([nohead]:not([nohead="false"])) .head th.select-cell input[type="checkbox"] {
    display: none;
}

/*
TODO add grid select checkbox variables
*/
.select-cell input[type="checkbox"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    flex-grow: 0;
    width: 1.4em;
    height: 1.4em;
    padding: 2px;
    margin: 0px;
    margin-right: auto;
    color: var(--datagrid-select-cell-text-color, #000000);
    background-color: var(--datagrid-select-cell-back-color, #ffffff);
    border-style: solid;
    border-width: 2px;
    border-color: var(--datagrid-select-cell-border-color, #000000);
    border-radius: 0.3em;
    font-size: 16px;
    cursor: pointer;
}

th.select-cell input[type="checkbox"] {
    color: var(--datagrid-header-select-cell-text-color, #ffffff);
    background-color: var(--datagrid-header-select-cell-back-color, #000000);
    border-color: var(--datagrid-header-select-cell-border-color, #ffffff);
}

.select-cell input[type="checkbox"]:checked:not(:indeterminate) {
    color: var(--datagrid-select-cell-checked-text-color, #ffffff);
    background-color: var(--datagrid-select-cell-checked-back-color, #000000);
}

th.select-cell input[type="checkbox"]:checked:not(:indeterminate) {
    color: var(--datagrid-header-select-cell-checked-text-color, #ffffff);
    background-color: var(--datagrid-header-select-cell-checked-back-color, #000000);
}

.select-cell input[type="checkbox"]:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}

.select-cell input[type="checkbox"]::before {
    font-size: 1.1em;
    line-height: 1em;
    font-family: monospace;
    font-weight: bold;
    content: " ";
}

.select-cell input[type="checkbox"]:checked::before {
    content: "✓";
}

.select-cell input[type="checkbox"]:indeterminate::before {
    content: "•";
}

:host([disabled]:not([disabled="false"])) .select-cell input[type="checkbox"] {
    color: var(--datagrid-disabled-select-cell-text-color, #757575) !important;
    background-color: var(--datagrid-disabled-select-cell-back-color, #999999) !important;
    border-color: var(--datagrid-disabled-select-cell-border-color, #6a6a6a) !important;
    cursor: default !important;
}

:host([disabled]:not([disabled="false"])) .head th.select-cell.select-cell-start:not(:nth-last-child(2)) {
    border-right-color: var(--datagrid-disabled-header-seperator-color, #999999) !important;
}

:host([readonly]:not([readonly="false"])) .select-cell input[type="checkbox"] {
    pointer-events: none;
}

@-moz-document url-prefix() {

    .head th {
        padding: 0px;
    }

    .head th.select-cell {
        min-width: 38px;
    }

    .head th:not(:first-child):not(:nth-child(2)):not(.lastCell) {
        border-left: none;
        box-shadow: inset var(--datagrid-header-seperator-color, #ffffff) var(--datagrid-column-seperator-width, 2px) 0px 0px;
    }

}

@keyframes popInLater {
    to {
        opacity: 1;
    }
}
